{% extends 'base.html' %}

{% block body %}
    <div style="text-align: center;">
        <h2> Главное меню ИС </h2>
        <br> <br>
        <a href="{{ url_for('blueprint_auth.start_auth') }}">Авторизация</a> <br><br>
        {% if user_group == 'typical' %}
            <a href="{{ url_for('blueprint_interview.interview_menu') }}">Список вакансий для собеседования</a> <br>
            <br>
        {% endif %}
        {% if user_group == 'manager' %}
            <a href="{{ url_for('blueprint_employee.get_employee') }}">Список работников</a> <br><br>
            <a href="{{ url_for('blueprint_report.start_report') }}">Отчёты</a> <br><br>
        {% endif %}
        {% if user_group == 'admin' %}
            <a href="{{ url_for('blueprint_employee.get_employee') }}">Список работников</a> <br><br>
            <a href="{{ url_for('blueprint_report.start_report') }}">Отчёты</a> <br><br>
        {% endif %}
        <a href="{{ url_for('exit_function') }}">Выход из системы</a> <br><br>
    </div>
{% endblock %}
